body{
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

a{
    text-decoration: none !important;
}

.title-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-1 h1{
    text-align: left;
    margin: 30px 0;
    font-size: 30px;
    color: #6a6a6a;
}

.pagination{
    align-items: center;
    justify-content: center;
}

.pagination .page-item button{
    color: #007F79;
}

.pagination button.page-link.active{
    color: #fff;
    background-color: #007F79;
}

.pagination .page-item{
    margin: 0 4px;
}

.btn-1{
    background: rgba(61, 201, 179, 1);
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 5.5px 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    box-shadow: 0px 3px 0px 0px #309383;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
    border: none;
}


.btn-1:hover{
    background-color: black;
}

.input-group button{
    border: 1px solid #ced4da;
    border-radius: 0;
}

 /* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .title-1 h1{
        font-size: 15px;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    
}